---

# Default variables, change these if you will
remote_user: ubuntu
ansible_ssh_user: ubuntu
birt_user: birt

# Files
git_access_key: id_dsa
birt_ssh_pubkey: birt.pub
jenkins_ssh_pubkey: jenkins.pub
