---

- name: Fetch report files
  git:
   dest: "{{ reports_tmp }}"
   repo: "{{ reports_repo }}"
   ssh_opts: -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
   key_file: "/home/birt/.ssh/{{ git_access_key }}
  sudo_user: birt

- name: Install report files
  shell: cp -rf {{ reports_tmp }}/* {{ birtviewer_dir }}
